{% extends 'layouts/main.html' %}

{% block content %}
<div class="row my-3">
  {% if cars %}
  {% for car in cars %}
  <div class="col-md-4 mt-3">
    <div class="card">
      <div class="card-img">
        <img src="{{ car.photo.url }}" alt="{{car.name}}" class="card-img-top">
      </div>
      <div class="card-body">
        <h6>{{car.name}} | <span class="text-info">RT: {{ car.avg_rating }}</span></h6>
        <small class="text-muted d-block">Published: {{car.pub_date}}</small>
        <a href="{% url 'cars:details' car.id %}" class="small mr-3">More info</a>
        <a href="{% url 'cars:remove_car' car.id %}" class="small text-danger mr-3">Delete car</a>
        <a href="{% url 'cars:update_car' car.id %}" class="small text-success">Update car</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="text-center mx-auto">No cars to show by now :(</p>
  {% endif %}
</div>
{% endblock %}